<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">bookmark.cloud</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav>
  
  <div class="jumbotron" >
    <h1>Nice to meet you!</h1>
    <a href="login" class="btn btn-success">Log In</a>
    <p>Don't have an account? Let's </p>
    <button type="button" class="btn btn-secondary">Sign Up</button>
  </div>

  <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/ibagroup">IBA Grpup 2018</a>
    </div>
  </nav>
  